<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyHub</title>
    

    <link rel="stylesheet" href="css/style.css">

    {{!-- Adding Bootstrap --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <link rel="icon" href="images/online_education_favicon.ico">

    {{#if loginSuccess}}
    <script>
        alert("Login successful!");
    </script>
    {{/if}}

</head>
<body>
    {{!-- <button class="btn btn-success">Awesome</button> --}}
    {{>navbar}}
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            {{!-- Left Side --}}
            <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
              <h1>WE WILL HELP YOU TO </h1>
              <h1>Discover, Learn, Excel</h1>
              <p> A Team of  <span class="bold-style">Professional And Skilled Teachers</span> Dedicated to Your Advancement 🚀</p>
              <a href="/aboutus"><button class="btn-style">Read More</button></a>
            </div>
            {{!-- Right Side --}}
            <div class="col-md-6 col-12 hero-text ">
              <figure>
                <img src="images/homepage.png" alt="Herosection image not found" class="img-resp">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    
    {{!-- About Section Starts --}}
    {{!-- {{>about}} --}}
    {{!-- About Section Ends --}}


    {{!-- Our Services Section Starts --}}
    {{!-- {{>services}} --}}
    {{!-- Our Services Section Ends --}}


    {{!-- Maps Section Starts --}}
    {{!-- {{>maps}} --}}
    {{!-- Maps Section Ends --}}


    {{!-- Contact Us Section Starts --}}
    {{!-- {{>contact}} --}}
    {{!-- Contact Us Section Ends --}}

    {{!-- Contact Us Section Starts --}}
    {{>footer}}
    {{!-- Contact Us Section Ends --}}





    {{!-- Using Bootstrap modules for js and using jquery module --}}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>
</html>