<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left side div -->
                <div class="col-md-12 col-12 main_header_left align-items-center">
                    <h1>Oops!! User Not Found🥲</h1>
                    <h1>Either Sign Up or Enter correct details</h1>
                    <a href="/loginus"><button class="btn-style">Go Back</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
